.aboutlogo{
    size: large;
    font-family: cursive;
    color:#854B5B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
.bcg{
    background-image: url(../nailpolish.jpg);
    width: 97%;
    height: 1000px;
    margin-left: 1rem;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
*/
.aboutlogo h1{
    font-size: 80px;
    margin-top: 3.5rem;
}

.aboutlogo h2{
    font-size: 30px;
}

.aboutlogo p{
    font-size: 20px;
    margin: 1rem;
    text-align: center;
}