

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container{
    width: 100%;
    display: grid;
    grid-template-areas: "left  middle right";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f5e8e8;
   padding: .2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footer-left{
    grid-area: left;
}

.footer-middle{
    grid-area: middle;
}

.footer-right{
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
}

.footer-container h3{
    color: #854B5B;
    font-size: 27px;
    text-shadow: 1px 1px 1px #ddafb2;
}
.logo-info img{
    width: 8rem;
    margin: 1rem;
}


.links a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.links a:hover{
    color:#C9A970;
    size-adjust: large;
}

@media (max-width: 820px) {
    .footer-container{
        display: grid;
        grid-template-areas: "left"
        "middle"
        "right";
    }
    .footer-right{
        margin: 1.5rem;
        grid-area: right;
    }
    .footer-left{
        margin: 1.5rem;
    }
    .footer-right{
        margin: 1.5rem;
        padding-right: 0;
    }
}