
.service-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.service-boxes img {
    width: 9rem;
    height: 12rem;
    border-radius: 19rem;
    margin: .25rem;
}

.individual-service {
    background-color: #D8D6C0;
    margin: 1rem;
    border-radius: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;

}
.individual-service h2 {
    color: #2A4950;
}
.individual-service a{
    color: #854B5B;
    text-decoration: none;
}
.individual-service a:hover{
    color:#2A4950;
}

.service-info ul{
    padding-left: 10px;
}
/*service-menu  service-info  service-image */

.service-image img{
    height: 90%;
    width: 80%;
}
.service-image2 img{
    height: 90%;
    width: 80%;
}
.service-boxes{
    margin: 3rem;
}

.service-info{
    margin: 1rem;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-image{
    grid-area: img;
    display: grid;
    justify-content: end;
    align-items: center;

}

.service-menu{
    background-color: #2c4d55;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-areas: "info img" ;
    border: #28454b 0.25px solid;
    border-radius: .5rem;
    margin: 5rem;

}

.service-info2{
    margin: 1rem;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-image2{
    margin-left: 4rem;
    grid-area: img;
    display: grid;
    justify-content: start;
    align-items: center;

}

.service-menu2{
    background-color: #28454b;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-areas: "img info" ;
    border: #2c4d55 0.25px solid;
    border-radius: .5rem;
    margin: 5rem;

}

.service-menu h2{
    color: #854B5B;
    margin-bottom: .5rem;
    font-size: 2.4rem;
}

.service-menu2 h2{
    color: #854B5B;
    margin-bottom: .5rem;
    font-size: 2.4rem;
}

.service-menu h4{
    color: #182a2e;
    font-size: 1.4rem;
}

.service-menu p {
    color: #152528;
    font-size: 1rem;
}
.service-menu li{
    color: #152528;
    font-size: 1rem;
}
.service-menu2 h4{
    color: #182a2e;
    font-size: 1.4rem;
}

.service-menu2 p {
    color: #152528;
    font-size: 1rem;
}
.service-menu2 li{
    color: #152528;
    font-size: 1rem;
}
@media (max-width: 800px)  {
    .service-menu{
        grid-template-areas:
        'info'
        'img';
    }
    .service-info{
        place-content: center;
        justify-content: center;
        align-self: center;
    }
    .service-menu2{
        grid-template-areas:
        'info'
        'img';
    }
    }
