
.prices h1{
    font-size: 50px;
    color:#854B5B;
    margin: 2rem;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    text-align: center;
}
.service-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.service-boxes img {
    width: 11rem;
    height: 11rem;
    border-radius: 21rem;
    margin: .25rem;
}

.individual-service {
    background-color: white;
    margin: 1rem;
    border-radius: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    z-index: 2;
    box-shadow: #63636333 0px 2px 8px 0px;
        &:hover {
          transform: scale(1.08);
        }
}
.individual-service h2 {
    color: #2A4950;
}
.individual-service a{
    color: #854B5B;
    text-decoration: none;
}
.individual-service a:hover{
    color:#2A4950;
}

.service-info ul{
    padding-left: 10px;
}
/*service-menu  service-info  service-image */

.service-image img{
    width: 98%;
}
.service-image2 img{
    width: 98%;
    margin: 10px;
}
.service-boxes{
    margin: 3rem;
}

.service-info{
    margin: 1rem;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-image{
    grid-area: img;
    display: grid;
    justify-content: end;
    align-items: center;
}

.service-menu{
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas: "info img" ;
    border-radius: .5rem;
    margin: 5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 2;
    &:hover {
        transform: scale(1.01);
      }

}
.service-menu2{
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: "img info" ;
    margin: 5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    z-index: 2;
    &:hover {
        transform: scale(1.01);
      }

}

.service-info2{
    margin: 1rem;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-image2{
    grid-area: img;
    display: grid;
    justify-content: start;
    align-items: center;

}


.service-menu h2{
    color: #854B5B;
    margin-bottom: .5rem;
    font-size: 2.4rem;
}

.service-menu2 h2{
    color: #854B5B;
    margin-bottom: .5rem;
    font-size: 2.4rem;
}

.service-menu h4{
    color: #152528;
    font-size: 1.4rem;
}

.service-menu p {
    color: #152528;
    font-size: 1rem;
}
.service-menu li{
    color: #152528;
    font-size: 1rem;
}
.service-menu2 h4{
    color: #152528;
    font-size: 1.4rem;
}

.service-menu2 p {
    color: #152528;
    font-size: 1rem;
}
.service-menu2 li{
    color: #152528;
    font-size: 1rem;
}


@media (max-width: 950px)  {
    .service-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;

    }
    .service-image{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .service-menu2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;

    }
    .service-image2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;

    }

    }
